<!DOCTYPE html>
<html lang="tr">

<head>
  <title>Can Akburu | İşletmelere Özel Yazılım Çözümleri</title>
  <%- include('../../partials/head'); -%>
</head>

<body>
  <div class="content-wrapper">
    <%- include('../../partials/header',{active:"enterprise-resource-&-planning"}); -%>
      <!-- /header -->
      <section class="wrapper bg-soft-primary">
        <div class="container pt-10 pb-10 pt-md-14 text-center">
          <div class="row">
            <div class="col-md-8 col-lg-7 col-xl-6 col-xxl-5 mx-auto mb-11">
              <h1 class="display-1 mb-3">
                <%= lingua.navigation.enterprise_resource_planning %>
              </h1>
              <p class="lead px-lg-7 px-xl-7 px-xxl-6">
                <%= lingua.enterprise_resource_planning.title_desc %>
              </p>
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->
      <section class="wrapper bg-light angled upper-end">
        <div class="container pb-14 pb-md-16">
          <!-- /.row -->
          <div class="row gx-lg-8 gy-8 mt-5 mt-md-12 mt-lg-0 mb-15 align-items-center">
            <!--/column -->
            <div class="col-lg-12">
              <h2 class="display-4 mb-3">
                <%= lingua.enterprise_resource_planning.desc_title %>
              </h2>
              <p class="lead fs-lg mb-8 pe-xxl-2">
                <%= lingua.enterprise_resource_planning.desc %>
              </p>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->

  </div>
  <%- include('../../partials/footer');-%>
</body>

</html>