<!DOCTYPE html>
<html lang="tr">

<head>
  <title>Akburu Asansör & Bilişim Teknolojileri | Hakkımızda</title>
  <%- include('../partials/head'); -%>
</head>

<body>
  <div class="content-wrapper">
    <%- include('../partials/header',{active:"hakkimizda"}); -%>
      <!-- /header -->
      <section class="wrapper bg-soft-primary">
        <div class="container pt-10 pb-20 pt-md-14 pb-md-23 text-center">
          <div class="row">
            <div class="col-xl-5 mx-auto mb-6">
              <h1 class="display-1 mb-3">
                <%= lingua.navigation.about %>
              </h1>
              <p class="lead mb-0">
                <%= lingua.aboutpage.desc %>
              </p>
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->
      <section class="wrapper bg-light">
        <div class="container pb-14 pb-md-16">
          <div class="row text-center mb-12 mb-md-15">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-n18 mt-md-n22">
              <figure><img class="w-auto" src="/assets/img/illustrations/i2.png" /></figure>
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
          <div class="row gx-lg-8 gx-xl-12 gy-6 mb-10 align-items-center">
            <div class="col-lg-6 order-lg-2">
              <ul class="progress-list">
                <li>
                  <p>
                    <%= lingua.aboutpage.progress1 %>
                  </p>
                  <div class="progressbar line blue" data-value="100"></div>
                </li>
                <li>
                  <p>
                    <%= lingua.aboutpage.progress2 %>
                  </p>
                  <div class="progressbar line green" data-value="100"></div>
                </li>
                <li>
                  <p>
                    <%= lingua.aboutpage.progress3 %>
                  </p>
                  <div class="progressbar line yellow" data-value="100"></div>
                </li>
                <li>
                  <p>
                    <%= lingua.aboutpage.progress4 %>
                  </p>
                  <div class="progressbar line orange" data-value="100"></div>
                </li>
              </ul>
              <!-- /.progress-list -->
            </div>
            <!--/column -->
            <div class="col-lg-6">
              <h3 class="display-5 mb-5">
                <%= lingua.aboutpage.desc2 %>
              </h3>
              <p>
                <%= lingua.aboutpage.desc3 %>
              </p>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
          <div class="row gx-lg-8 gx-xl-12 gy-6 gy-md-0 text-center">
            <div class="col-md-6 col-lg-3">
              <img src="./assets/img/icons/solid/shield.svg" class="svg-inject icon-svg icon-svg-md text-blue mb-3"
                alt="" />
              <h4>
                <%= lingua.aboutpage.progress1 %>
              </h4>
              <p class="mb-2">
                <%= lingua.aboutpage.progress1_desc %>
              </p>
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg-3">
              <img src="./assets/img/icons/target.svg" class="svg-inject icon-svg icon-svg-md text-green mb-3" alt="" />
              <h4>
                <%= lingua.aboutpage.progress2 %>
              </h4>
              <p class="mb-2">
                <%= lingua.aboutpage.progress2_desc %>
              </p>
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg-3">
              <img src="./assets/img/icons/solid/employees.svg" class="svg-inject icon-svg icon-svg-md text-blue mb-3"
                alt="" />
              <h4>
                <%= lingua.aboutpage.progress3 %>
              </h4>
              <p class="mb-2">
                <%= lingua.aboutpage.progress3_desc %>
              </p>
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg-3">
              <img src="./assets/img/icons/solid/deal.svg"
                class="svg-inject icon-svg icon-svg-xs solid-duo text-navy-sky" alt="" />
              <h4>
                <%= lingua.aboutpage.progress4 %>
              </h4>
              <p class="mb-2">
                <%= lingua.aboutpage.progress4_desc %>
              </p>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->
      <section class="wrapper bg-gray">
        <div class="container py-8 py-md-4">
          <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 mb-md-16 align-items-center">
            <div class="col-lg-7">
              <figure>
                <img class="w-auto" src="./assets/img/photos/code.png" alt="" />
              </figure>
            </div>
            <!--/column -->
            <div class="col-lg-5">
              <h2 class="fs-15 text-uppercase text-line text-primary mb-3">
                <%= lingua.aboutpage.how_we_work %>
              </h2>
              <h3 class="display-5 mb-7 pe-xxl-5">
                <%= lingua.aboutpage.how_we_work_desc %>
              </h3>
              <div class="d-flex flex-row mb-4">
                <div>
                  <img src="./assets/img/icons/light-bulb.svg" class="svg-inject icon-svg icon-svg-sm text-blue me-4"
                    alt="" />
                </div>
                <div>
                  <h4 class="mb-1">
                    <%= lingua.aboutpage.how_we_work_1_title %>
                  </h4>
                  <p class="mb-1">
                    <%= lingua.aboutpage.how_we_work_1_desc %>
                  </p>
                </div>
              </div>
              <div class="d-flex flex-row mb-4">
                <div>
                  <img src="./assets/img/icons/pie-chart-2.svg" class="svg-inject icon-svg icon-svg-sm text-green me-4"
                    alt="" />
                </div>
                <div>
                  <h4 class="mb-1">
                    <%= lingua.aboutpage.how_we_work_2_title %>
                  </h4>
                  <p class="mb-1">
                    <%= lingua.aboutpage.how_we_work_2_desc %>
                  </p>
                </div>
              </div>
              <div class="d-flex flex-row">
                <div>
                  <img src="./assets/img/icons/solid/crosshair.svg"
                    class="ssvg-inject icon-svg icon-svg-sm text-blue me-4" alt="" />
                </div>
                <div>
                  <h4 class="mb-1">
                    <%= lingua.aboutpage.how_we_work_3_title %>
                  </h4>
                  <p class="mb-1">
                    <%= lingua.aboutpage.how_we_work_3_desc %>
                  </p>
                </div>
              </div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->
  </div>
  <%- include('../partials/footer');-%>
</body>

</html>