<!DOCTYPE html>
<html lang="tr">

<head>
  <title>Akburu Asansör & Bilişim Teknolojileri</title>
  <%- include('../partials/head'); -%>
</head>

<body>
  <div class="content-wrapper">
    <%- include('../partials/header',{active:""}); -%>
      <!-- /header -->
      <section class="wrapper bg-soft-primary">
        <div class="container pt-10 pt-lg-12 pt-xl-12 pt-xxl-10 pb-lg-10 pb-xl-10 pb-xxl-0">
          <div class="row gx-md-8 gx-xl-12 gy-10 align-items-center text-center text-lg-start">
            <div class="col-lg-6" data-cues="slideInDown" data-group="page-title" data-delay="900">
              <h1 class="display-1 mb-4 me-xl-5 mt-lg-n10">
                <%= lingua.title %>
                  <br>
                  <br>
                  <div class="d-inline-flex me-2">
                    <a href="tel:+905399439806" class="btn btn-lg btn-blue rounded">
                      Bizimle Çalışın, hemen size yardımcı olalım.
                    </a>
                  </div>
            </div>
            <!--/column -->
            <div class="col-10 col-md-7 mx-auto col-lg-6 col-xl-5 ms-xl-5">
              <img class="img-fluid mb-n12 mb-md-n14 mb-lg-n19" src="./assets/img/illustrations/3d11.png"
                data-cue="fadeIn" data-delay="300" alt="" />
            </div>
            <!--/column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
        <figure><img src="./assets/img/photos/clouds.png" alt=""></figure>
      </section>
      <!-- /section -->
      <section class="wrapper bg-white">
        <div class="container pt-15 pb-15 pb-md-17">
          <div class="row text-center">
            <div class="col-md-10 offset-md-1 col-xxl-8 offset-xxl-2">
              <h2 class="fs-16 text-uppercase text-primary mb-3">
                <%= lingua.indexpage.whatwedo %>
              </h2>
              <h3 class="display-4 mb-9">
                <%= lingua.indexpage.whatwedodesc %>
              </h3>
            </div>
            <!-- /column -->
          </div>

          <!-- /.row -->
          <div class="row gx-md-8 gy-8 mb-15 mb-md-17 text-center">
            <div class="col-md-6 col-lg-3">
              <div class="px-md-3 px-lg-0 px-xl-3">
                <img src="./assets/img/icons/solid/globe-2.svg"
                  class="svg-inject icon-svg icon-svg-md solid-mono text-blue mb-5" alt="" />
                <h4>İşletmelere Özel Yazılım Çözümleri</h4>
                <p class="mb-2">Firmaların dinamik yapılar olduğu bilinen bir gerçektir. Dinamik bir yapıda ise işleyiş
                  modelleri, etkenler, süreç tasarımları farklı olacaktır.</p>
                <a href="/bakim" class="more hover">Daha Fazla</a>
              </div>
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg-3">
              <div class="px-md-3 px-lg-0 px-xl-3">
                <img src="./assets/img/icons/solid/building.svg"
                  class="svg-inject icon-svg icon-svg-md solid-mono text-blue mb-5" alt="" />
                <h4>E-Ticaret Çözümleri</h4>
                <p class="mb-2">Bilgi çağının trendlerinin listesi oluşturulsa E-Ticaret sistemleri mutlaka listenin en
                  üstlerinde yerini alacaktır..</p>
                <a href="/montaj" class="more hover">Daha Fazla</a>
              </div>
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg-3">
              <div class="px-md-3 px-lg-0 px-xl-3">
                <img src="./assets/img/icons/lineal/check-list.svg"
                  class="svg-inject icon-svg icon-svg-md solid-mono text-blue mb-5" alt="" />
                <h4>B2B & B2C</h4>
                <p class="mb-2">B2B (İşletmeden İşletmeye) Çözümler
                  Mevcut ekonomik süreçlerin büyük bir çoğunluğunu firmaların aynı anda alıcı ve satıcı olmaları
                  şeklinde yorumlayabiliriz.</p>
                <a href="/modernizasyon-ve-revizyon" class="more hover">Daha Fazla</a>
              </div>
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg-3">
              <div class="px-md-3 px-lg-0 px-xl-3">
                <img src="./assets/img/icons/lineal/check-list.svg"
                  class="svg-inject icon-svg icon-svg-md solid-mono text-blue mb-5" alt="" />
                <h4>Kurumsal Kaynak & Planlama</h4>
                <p class="mb-2">Kurumsal kaynak planlaması nedir ? Kurumsal kaynak planlaması ya da işletme kaynak
                  planlaması...</p>
                <a href="/modernizasyon-ve-revizyon" class="more hover">Daha Fazla</a>
              </div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
          <div class="row gx-3 gy-10 mb-14 mb-md-16 align-items-center">
            <div class="col-lg-6">
              <figure><img class="w-auto" src="./assets/img/illustrations/3d8.png" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="col-lg-5 ms-auto">
              <h2 class="fs-16 text-uppercase text-blue mb-3">Neden Biz ?</h2>
              <h3 class="display-4 mb-8">İşte değerli müşterilerimizin bizi seçmesinin birkaç nedeni.</h3>
              <div class="row gy-6">
                <div class="col-md-12">
                  <div class="d-flex flex-row">
                    <div>
                      <img src="./assets/img/icons/lineal/clock-3.svg"
                        class="svg-inject icon-svg icon-svg-xs solid-mono text-blue me-4" alt="" />
                    </div>
                    <div>
                      <h4 class="mb-1"></h4>
                      <p class="mb-0">Zaman konusunda takıntılıyız, verdiğimiz zamanda ve günde vaadedilen işi
                        gerçekleştiririz</p>
                    </div>
                  </div>
                </div>
                <!--/column -->
                <div class="col-md-12">
                  <div class="d-flex flex-row">
                    <div>
                      <img src="./assets/img/icons/solid/puzzle.svg"
                        class="svg-inject icon-svg icon-svg-xs solid-mono text-blue me-4" alt="" />
                    </div>
                    <div>
                      <h4 class="mb-1"></h4>
                      <p class="mb-0">Ekibimiz öncelikle birlikte çalıştığımız işletmelerin bütün teknolojik altyapı ve
                        yazılım ihtiyaçlarını belirliyoruz..</p>
                    </div>
                  </div>
                </div>
                <!--/column -->
                <div class="col-md-12">
                  <div class="d-flex flex-row">
                    <div>
                      <img src="./assets/img/icons/solid/headphone.svg"
                        class="svg-inject icon-svg icon-svg-xs solid-mono text-blue me-4" alt="" />
                    </div>
                    <div>
                      <h4 class="mb-1"></h4>
                      <p class="mb-0">Analizlerimiz doğrultusunda, uçtan uca entegre şekilde çalışan özel yazılımlar
                        geliştiriyor; işletmenizin dijital dönüşüm süreçlerinizin tamamında en güvenilir teknoloji
                        partneri oluyoruz.</p>
                    </div>
                  </div>
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
            </div>
            <!--/column -->
          </div>
          <section class="wrapper bg-light wrapper-border">
            <div class="container py-14 pt-md-18 pb-md-16">
              <div class="row align-items-center mb-10">
                <div class="col-md-8 col-lg-9 col-xl-8 col-xxl-7 pe-xl-20">
                  <h2 class="display-4 mb-3">Son Projeler</h2>
                  <p class="lead fs-20 mb-0">Yaratıcı fikirler içeren son projelerimden bazılarına göz atın.</p>
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
              <!--/.card -->
              <div class="card bg-soft-blue mb-10">
                <div class="card-body p-12">
                  <div class="row gy-10 align-items-center">
                    <div class="col-lg-4 order-lg-2 offset-lg-1">
                      <div class="post-category mb-3 text-blue">Asansör Yönetim Sistemi</div>
                      <h3 class="h1 post-title mb-3">Asansör için geliştirilmiş bakım ve personel takip uygulaması</h3>
                      <p>Personel takip , bakım takip</p>
                    </div>
                    <!-- /column -->
                    <div class="col-lg-7">
                      <figure>
                        <img class="img-fluid" src="./assets/img/photos/asansor-yonetim.akburu.png" alt="">
                      </figure>
                    </div>
                    <!-- /column -->
                  </div>
                  <!-- /.row -->
                </div>
                <!--/.card-body -->
              </div>
              <!--/.card -->
              <div class="card bg-soft-blue mb-10">
                <div class="card-body p-12">
                  <div class="row gy-10 align-items-center">
                    <div class="col-lg-4 order-lg-2 offset-lg-1">
                      <div class="post-category mb-3 text-blue">Hepsi Asansör</div>
                      <h3 class="h1 post-title mb-3">Açık Pazar E-Ticaret Uygulaması</h3>
                      <p>Ödeme Yönetimi, CMS, CRS, Kargo Yönetimi</p>
                    </div>
                    <!-- /column -->
                    <div class="col-lg-7">
                      <figure>
                        <img class="img-fluid" src="./assets/img/photos/hepsiasansor.jpg" alt="">
                      </figure>
                    </div>
                    <!-- /column -->
                  </div>
                  <!-- /.row -->
                </div>
                <!--/.card-body -->
              </div>
              <!--/.card -->
              <div class="card bg-soft-blue mb-10">
                <div class="card-body p-12">
                  <div class="row gy-10 align-items-center">
                    <div class="col-lg-4 order-lg-2 offset-lg-1">
                      <div class="post-category mb-3 text-blue">Mars Dekor</div>
                      <h3 class="h1 post-title mb-3">Kişisel Satış Sitesi</h3>
                      <p>Kişisel CMS ve tasarım</p>
                    </div>
                    <!-- /column -->
                    <div class="col-lg-7">
                      <figure>
                        <img class="img-fluid" src="./assets/img/photos/f2.png" alt="">
                      </figure>
                    </div>
                    <!-- /column -->
                  </div>
                  <!-- /.row -->
                </div>
                <!--/.card-body -->
              </div>
              <!--/.card -->
              <div class="card bg-soft-violet mb-10">
                <div class="card-body p-12 pb-0">
                  <div class="row">
                    <div class="col-lg-4 pb-12 align-self-center">
                      <div class="post-category mb-3 text-violet">Web Design</div>
                      <h3 class="h1 post-title mb-3">Tenisburada Tema Çalışması</h3>
                      <p>Siteye modern bir görüntü ve kullanışlı bir arayüz uygulaması ile artık her zamankinden daha
                        iyi.</p>
                      <a href="https://www.tenisburada.com" class="more hover link-violet">Projeyi Gör</a>
                    </div>
                    <!-- /column -->
                    <div class="col-lg-7 offset-lg-1 align-self-end">
                      <figure>
                        <img class="img-fluid" src="./assets/img/photos/f1.png" alt="">
                      </figure>
                    </div>
                    <!-- /column -->
                  </div>
                  <!-- /.row -->
                </div>
                <!--/.card-body -->
              </div>
              <!--/.card -->

            </div>
            <!-- /.container -->
          </section>
          <!--/.card -->
          <!--/.row -->
          <div class="row gx-3 gy-10 gy-lg-0 align-items-center">
            <div class="col-lg-6">
              <figure>
                <img class="w-auto" src="./assets/img/illustrations/3d3.png" alt="" />
              </figure>
            </div>
            <!--/column -->
            <div class="col-lg-5 ms-auto">
              <h2 class="fs-16 text-uppercase text-primary mb-3">HADİ KONUŞALIM</h2>
              <h3 class="display-4 mb-3">Birlikte harika işler yapalım. 250'den fazla müşterimiz tarafından
                güveniliyoruz</h3>
              <p>Bize katılın ve sizi akburu kalitesi ile tanıştıralım çözüm ortağınız olmaktan gurur duyarız.</p>
              <!-- <a href="#" class="btn btn-primary rounded mt-2">Bize Katılın</a> -->
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->
      <section class="wrapper bg-soft-primary">
        <div class="container py-14 py-md-16">
          <div class="row mb-8">
            <div class="col-lg-8 mx-auto text-center">
              <h2 class="fs-16 text-uppercase text-primary mb-3">Sizi Arayalım</h2>
              <h3 class="display-4 mb-0">Telefon numarınız bırakın sizi arıyalım ve istediğiniz konu hakkında yardımcı
                olalım.</h3>
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-lg-5 mx-auto">
              <form class="contact-form needs-validation" action="/sizi-arayalim" method="POST" novalidate="">
                <div class="messages"></div>
                <div class="form-floating input-group">
                  <input type="text" class="form-control border-0" placeholder="Telefon numarızı giriniz"
                    id="inputPhone" name="inputPhone" required>
                  <label for="inputPhone">Telefon numarızı giriniz</label>
                  <input type="submit" class="btn btn-primary btn-send" value="Sizi Arayalım">
                </div>
              </form>
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
        <figure>
          <img src="./assets/img/photos/clouds.png" alt="">
        </figure>
      </section>
      <!-- /section -->
  </div>

  <%- include('../partials/footer');-%>
</body>

</html>