<!DOCTYPE html>
<html lang="tr">

<head>
  <title>Can Akburu | Yazılım ve Geliştirme</title>
  <%- include('../partials/head'); -%>
</head>

<body>
  <div class="content-wrapper">
    <%- include('../partials/header',{active:""}); -%>
      <!-- /header -->
      <section class="wrapper bg-soft-primary">
        <div class="container pt-10 pt-lg-12 pt-xl-12 pt-xxl-10 pb-lg-10 pb-xl-10 pb-xxl-0">
          <div class="row gx-md-8 gx-xl-12 gy-10 align-items-center text-center text-lg-start">
            <div class="col-lg-6" data-cues="slideInDown" data-group="page-title" data-delay="900">
              <h1 class="display-1 mb-4 me-xl-5 mt-lg-n10">
                <%= lingua.title %>
                  <br>
                  <br>
                  <div class="d-inline-flex me-2">
                    <a href="tel:+905399439806" class="btn btn-lg btn-blue rounded">
                      <%= lingua.indexpage.work_with_us %>
                    </a>
                  </div>
            </div>
            <!--/column -->
            <div class="col-10 col-md-7 mx-auto col-lg-6 col-xl-5 ms-xl-5">
              <img class="img-fluid mb-n12 mb-md-n14 mb-lg-n19" src="/assets/img/illustrations/3d11.png"
                data-cue="fadeIn" data-delay="300" alt="" />
            </div>
            <!--/column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
        <figure><img src="/assets/img/photos/clouds.png" alt=""></figure>
      </section>
      <!-- /section -->
      <section class="wrapper bg-white">
        <div class="container pt-15 pb-15 pb-md-17">
          <div class="row text-center">
            <div class="col-md-10 offset-md-1 col-xxl-8 offset-xxl-2">
              <h2 class="fs-16 text-uppercase text-primary mb-3">
                <%= lingua.indexpage.whatwedo %>
              </h2>
              <h3 class="display-4 mb-9">
                <%= lingua.indexpage.whatwedodesc %>
              </h3>
            </div>
            <!-- /column -->
          </div>

          <!-- /.row -->
          <div class="row gx-md-8 gy-8 mb-15 mb-md-17 text-center">
            <div class="col-md-6 col-lg-3">
              <div class="px-md-3 px-lg-0 px-xl-3">
                <img src="./assets/img/icons/solid/globe-2.svg"
                  class="svg-inject icon-svg icon-svg-md solid-mono text-blue mb-5" alt="" />
                <h4>
                  <%= lingua.navigation.business_specific_software_solutions %>
                </h4>
                <%= lingua.indexpage.business_specific_software_solutions_short_desc %>
                  <p class="mb-2"></p>
                  <a href="/services/business-specific-software-solutions" class="more hover">
                    <%= lingua.more_than %>
                  </a>
              </div>
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg-3">
              <div class="px-md-3 px-lg-0 px-xl-3">
                <img src="./assets/img/icons/solid/building.svg"
                  class="svg-inject icon-svg icon-svg-md solid-mono text-blue mb-5" alt="" />
                <h4>
                  <%= lingua.navigation.e_commerce_solutions %>
                </h4>
                <p class="mb-2">
                  <%= lingua.indexpage.e_commerce_solutions_short_desc %>
                </p>
                <a href="/services/e-commerce-solutions" class="more hover">
                  <%= lingua.more_than %>
                </a>
              </div>
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg-3">
              <div class="px-md-3 px-lg-0 px-xl-3">
                <img src="./assets/img/icons/lineal/check-list.svg"
                  class="svg-inject icon-svg icon-svg-md solid-mono text-blue mb-5" alt="" />
                <h4>
                  <%= lingua.navigation.b2b_and_b2c %>
                </h4>
                <p class="mb-2">
                  <%= lingua.indexpage.b2b_and_b2c_solutions_short_desc %>
                </p>
                <a href="/services/b2b-and-b2c-solutions" class="more hover">
                  <%= lingua.more_than %>
                </a>
              </div>
            </div>
            <!--/column -->
            <div class="col-md-6 col-lg-3">
              <div class="px-md-3 px-lg-0 px-xl-3">
                <img src="./assets/img/icons/lineal/check-list.svg"
                  class="svg-inject icon-svg icon-svg-md solid-mono text-blue mb-5" alt="" />
                <h4>
                  <%= lingua.navigation.enterprise_resource_planning %>
                </h4>
                <p class="mb-2">
                  <%= lingua.indexpage.enterprise_resource_planning_short_desc %>
                </p>
                <a href="/services/enterprise-resource-&-planning" class="more hover">
                  <%= lingua.more_than %>
                </a>
              </div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
          <div class="row gx-3 gy-10 mb-14 mb-md-16 align-items-center">
            <div class="col-lg-6">
              <figure><img class="w-auto" src="./assets/img/illustrations/3d8.png" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="col-lg-5 ms-auto">
              <h2 class="fs-16 text-uppercase text-blue mb-3">
                <%= lingua.indexpage.whyus %>
              </h2>
              <h3 class="display-4 mb-8">
                <%= lingua.indexpage.whyusreasons %>
              </h3>
              <div class="row gy-6">
                <div class="col-md-12">
                  <div class="d-flex flex-row">
                    <div>
                      <img src="./assets/img/icons/lineal/clock-3.svg"
                        class="svg-inject icon-svg icon-svg-xs solid-mono text-blue me-4" alt="" />
                    </div>
                    <div>
                      <h4 class="mb-1"></h4>
                      <p class="mb-0">
                        <%= lingua.indexpage.whyusreason1 %>
                      </p>
                    </div>
                  </div>
                </div>
                <!--/column -->
                <div class="col-md-12">
                  <div class="d-flex flex-row">
                    <div>
                      <img src="./assets/img/icons/solid/puzzle.svg"
                        class="svg-inject icon-svg icon-svg-xs solid-mono text-blue me-4" alt="" />
                    </div>
                    <div>
                      <h4 class="mb-1"></h4>
                      <p class="mb-0">
                        <%= lingua.indexpage.whyusreason2 %>
                      </p>
                    </div>
                  </div>
                </div>
                <!--/column -->
                <div class="col-md-12">
                  <div class="d-flex flex-row">
                    <div>
                      <img src="./assets/img/icons/solid/headphone.svg"
                        class="svg-inject icon-svg icon-svg-xs solid-mono text-blue me-4" alt="" />
                    </div>
                    <div>
                      <h4 class="mb-1"></h4>
                      <p class="mb-0">
                        <%= lingua.indexpage.whyusreason2 %>
                      </p>
                    </div>
                  </div>
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
            </div>
            <!--/column -->
          </div>
          <section class="wrapper bg-light wrapper-border">
            <div class="container py-14 pt-md-18 pb-md-16">
              <div class="row align-items-center mb-10">
                <div class="col-md-8 col-lg-9 col-xl-8 col-xxl-7 pe-xl-20">
                  <h2 class="display-4 mb-3">
                    <%= lingua.indexpage.last_projects %>
                  </h2>
                  <p class="lead fs-20 mb-0">
                    <%= lingua.indexpage.last_project_desc %>
                  </p>
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
              <!--/.card -->
              <div class="card bg-soft-blue mb-10">
                <div class="card-body p-12">
                  <div class="row gy-10 align-items-center">
                    <div class="col-lg-4 order-lg-2 offset-lg-1">
                      <div class="post-category mb-3 text-blue">
                        <%= lingua.indexpage.last_project_1_title %>
                      </div>
                      <h3 class="h1 post-title mb-3">
                        <%= lingua.indexpage.last_project_1_desc %>
                      </h3>
                      <p>
                        <%= lingua.indexpage.last_project_1_alt %>
                      </p>
                    </div>
                    <!-- /column -->
                    <div class="col-lg-7">
                      <figure>
                        <img class="img-fluid" src="./assets/img/photos/asansor-yonetim.akburu.png" alt="">
                      </figure>
                    </div>
                    <!-- /column -->
                  </div>
                  <!-- /.row -->
                </div>
                <!--/.card-body -->
              </div>
              <!--/.card -->
              <div class="card bg-soft-blue mb-10">
                <div class="card-body p-12">
                  <div class="row gy-10 align-items-center">
                    <div class="col-lg-4 order-lg-2 offset-lg-1">
                      <div class="post-category mb-3 text-blue">
                        <%= lingua.indexpage.last_project_2_title %>
                      </div>
                      <h3 class="h1 post-title mb-3">
                        <%= lingua.indexpage.last_project_2_desc %>
                      </h3>
                      <p>
                        <%= lingua.indexpage.last_project_2_alt %>
                      </p>
                    </div>
                    <!-- /column -->
                    <div class="col-lg-7">
                      <figure>
                        <img class="img-fluid" src="./assets/img/photos/hepsiasansor.jpg" alt="">
                      </figure>
                    </div>
                    <!-- /column -->
                  </div>
                  <!-- /.row -->
                </div>
                <!--/.card-body -->
              </div>
              <!--/.card -->
              <div class="card bg-soft-blue mb-10">
                <div class="card-body p-12">
                  <div class="row gy-10 align-items-center">
                    <div class="col-lg-4 order-lg-2 offset-lg-1">
                      <div class="post-category mb-3 text-blue">
                        <%= lingua.indexpage.last_project_3_title %>
                      </div>
                      <h3 class="h1 post-title mb-3">
                        <%= lingua.indexpage.last_project_3_desc %>
                      </h3>
                      <p>
                        <%= lingua.indexpage.last_project_3_alt %>
                      </p>
                    </div>
                    <!-- /column -->
                    <div class="col-lg-7">
                      <figure>
                        <img class="img-fluid" src="./assets/img/photos/f2.png" alt="">
                      </figure>
                    </div>
                    <!-- /column -->
                  </div>
                  <!-- /.row -->
                </div>
                <!--/.card-body -->
              </div>
              <!--/.card -->
              <!-- <div class="card bg-soft-violet mb-10">
                <div class="card-body p-12 pb-0">
                  <div class="row">
                    <div class="col-lg-4 pb-12 align-self-center">
                      <div class="post-category mb-3 text-violet">
                        <%= lingua.indexpage.last_project_4_title %>
                      </div>
                      <h3 class="h1 post-title mb-3">
                        <%= lingua.indexpage.last_project_4_desc %>
                      </h3>
                      <p>
                        <%= lingua.indexpage.last_project_4_alt %>
                      </p>
                      <a href="https://www.tenisburada.com" class="more hover link-violet">
                        <%= lingua.indexpage.see_project %>
                      </a>
                    </div>
                    <div class="col-lg-7 offset-lg-1 align-self-end">
                      <figure>
                        <img class="img-fluid" src="./assets/img/photos/f1.png" alt="">
                      </figure>
                    </div>
                  </div>
                </div>
              </div> -->
              <!--/.card -->

            </div>
            <!-- /.container -->
          </section>
          <!--/.card -->
          <!--/.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->
      <section class="wrapper bg-soft-primary">
        <div class="container py-14 py-md-16">
          <div class="row mb-8">
            <div class="col-lg-8 mx-auto text-center">
              <h2 class="fs-16 text-uppercase text-primary mb-3">
                <%= lingua.indexpage.let_us_call_you %>
              </h2>
              <h3 class="display-4 mb-0">
                <%= lingua.indexpage.let_us_call_you_desc %>
              </h3>
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-lg-5 mx-auto">
              <form class="contact-form needs-validation" action="/sizi-arayalim" method="POST" novalidate="">
                <div class="messages"></div>
                <div class="form-floating input-group">
                  <input type="text" class="form-control border-0"
                    placeholder="<%= lingua.indexpage.enter_your_phone_number %>" id="inputPhone" name="inputPhone"
                    required>
                  <label for="inputPhone">
                    <%= lingua.indexpage.enter_your_phone_number %>
                  </label>
                  <input type="submit" class="btn btn-primary btn-send" value="<%= lingua.indexpage.lets_call_you %>">
                </div>
              </form>
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
        <figure>
          <img src="./assets/img/photos/clouds.png" alt="">
        </figure>
      </section>
      <!-- /section -->
  </div>

  <%- include('../partials/footer');-%>
</body>

</html>